{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h1>Inscription</h1>

    {{ form(form) }}

    <br />

    <a href="{{ path('app_login') }}">J'ai déjà un compte</a>


{% endblock %}
